<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <div class="formSection">
    <h1>Create User</h1>
    <form action="/create" method="POST">
      <input type="text" placeholder="image url" name="image" class="sameValue" required><br><br>
      <input type="text" placeholder="username" name="username" class="sameValue"><br><br>
      <input type="email" placeholder="email" name="email" class="sameValue" required><br><br>
      <textarea name="message" id="" placeholder="enter message...." required maxlength="240"></textarea><br><br>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>





